body, html, #root {
  width: 100%;
  height: 100%;
}
.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 95%; /* actual blur */
  background-color: rgba(0, 0, 0, 0.3); /* optional dimming */
  z-index: 999;
}